@import '../../../variables.module.scss';

.button {
    display: inline-flex;
    height: 60px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 9px;
    font-size: 18px;
    border-width: 0px;
    cursor: pointer;
    font-weight: 500;
}

.primary {
    background: $black-gradient;
    color: $white;
    box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(255, 255, 255, 0.08) inset, 0px 1px 2px 0px rgba(255, 255, 255, 0.02) inset;
}

.button:hover {
    opacity: 0.9;
    transition: 0.5s;
}

.secondary {
    background-color: $light-white;
    color: $onyx;
}

.text {
    background-color: transparent;
    color: $black;
}
