.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 22px;
}

.technologiesCards {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
}

.arrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transform: rotate(180deg);
}